# General
NODE_ENV=development

# API
API_PORT=3001
JWT_SECRET=change_me_super_secret_dev_key
JWT_EXPIRES_IN=1d
CORS_ORIGIN=http://localhost:3000

# Database
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_DB=app_platform
DATABASE_URL=postgresql://app_user:app_password@postgres:5432/app_platform?schema=public

# Web
NEXT_PUBLIC_API_URL=http://localhost:3001/api
